{% extends 'base.html' %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card mt-5">
            <div class="card-header text-center bg-success text-white">
                <h3><i class="bi bi-check-circle"></i> Password Reset Complete</h3>
            </div>
            <div class="card-body p-4 text-center">
                <i class="bi bi-shield-check display-1 text-success mb-3"></i>
                <h4>Success!</h4>
                <p class="mb-4">Your password has been successfully reset. You can now login with your new password.</p>
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
                    <i class="bi bi-box-arrow-in-right"></i> Go to Login
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


